body {
    margin: 0;
    background-image: url("/fractal-background.jpg");  
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
}
main > div:first-of-type {
    height: 20vh;
}
#calculator {
    margin: auto;
    background-color: rgb(88, 88, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 5px;
    padding: 0;
    box-shadow: 2px 2px 2px black;
}
#calculator-display {
    margin: 5% 0 0 0;
    padding: 5% 2%;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    border-radius: 2px;
    background-color: white;
    font-size: 24px;
    resize: none;
}
#calculator-buttons {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 25% 25% 25% 25%;
}
#calculator-buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    border: 1px solid rgba(163, 163, 163, 0.144);
}

@media (max-width: 768px) {
    #calculator {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    #calculator-buttons > div {
        font-size: 20px;
    }
    #calculator-display {
        font-size: 20px;
    }
}